---
layout: navbar
---
<div class="container grid">
    <div class="row">
        {% for post in site.posts %}
        {% unless post.path contains "/archive" %}
            <div class=col-4>
                <a class="post-link" href="{{ post.url }}">
                    <div class="post-title"><h2>{{ post.title }}</h2></div>
                    <div class="post-spot" style="background-image:url('{{ post.image }}')">
                </div></a>
            </div>
        {% endunless %}
        {% endfor %}
    </div>
</div>