<!DOCTYPE html>
<html lang="en">
<head>
<title>{{ page.title }} | {{ site.title }}</title>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="shortcut icon" href="favicon.png" type="image/x-icon">

<!--LINK TO CSS-->
<link rel="stylesheet" href="assets/css/style.css">

<!--BOOTSTRAP-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!--FONT-->
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
<link href="/assets/fontawesome/css/fontawesome.css" rel="stylesheet">
<link href="/assets/fontawesome/css/brands.css" rel="stylesheet">
<link href="/assets/fontawesome/css/solid.css" rel="stylesheet">

<script>
    function showNav() {
        var menu = document.getElementById("sidebar");
        menu.setAttribute("style", "visibility:visible;z-index:4");
    }

    function hideNav() {
        var menu = document.getElementById("sidebar");
        menu.removeAttribute("style");
    }
</script>

</head>
<body>
    <div id="topbar">
        <a onclick="showNav()"><i class="fas fa-bars"></i></a>
        <span><a id="topbar-title">Aimee Bowen</a><span id="topbar-description">UI|UX Designer</span></span>
    </div>
    <header id="sidebar">
        <div class="header-wrapper">
            <div class="top">
                <a onclick="hideNav()"><i class="fas fa-chevron-left"></i></a>
            </div>


            <div class="middle">
                
                
                <div id="title">
                    <a href="/">Aimee Bowen</a>
                </div>
                
                
                <div id="description">
                    UI|UX Designer
                </div>

                <ul id="navbar" class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <!--
                    <li class="nav-item">
                        <a class="nav-link" href="/experience">Experience</a>
                    </li>
                    -->
                </ul>

                <ul id="icon-list" class="nav">
                    <li class="nav-item"><a class="nav-icons" href="/contact"><i class="fas fa-envelope"></i>
                        <span class="tooltiptext">contact</span>
                    </a></li>
                    <li class="nav-item"><a class="nav-icons" href="https://www.linkedin.com/in/aimeebowen-designer/"><i class="fab fa-linkedin"></i>
                        <span class="tooltiptext">linkedin</span>
                    </a></li>
                    <li class="nav-item"><a class="nav-icons" href="/assets/aimeebowen_portfolio.pdf"><i class="fas fa-file-download"></i>
                        <span class="tooltiptext">download portfolio pdf</span>
                    </a></li>
                </ul>
            </div>

            <div class="bottom">
                <div id="my-footer">© 2019 Aimee Bowen</div>
            </div>
                        
        </div>
    </header>  
        <main>
            {{ content }}
        </main>
    </body>

</html>